{% extends "layouts/app.html" %}

{% block title %} Admin - Edit Hotel {% endblock %}

{% block styles %}
    <style>
        #map {
          height: 400px;
          /* The height is 400 pixels */
          width: 100%;
          /* The width is the width of the web page */
        }
    </style>
{% endblock %}

{% block content %}
    <!-- Title -->
    <div class="row heading-bg">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h5 class="txt-dark">Edit Hotel</h5>
        </div>
        <!-- Breadcrumb -->
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active"><a href="#"><span>Edit Hotel</span></a></li>
            </ol>
        </div>
        <!-- /Breadcrumb -->
    </div>
    <!-- /Title -->

        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default border-panel card-view">
                    <div class="panel-heading">
                        <div class="pull-left">Edit Hotel</div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            {% include 'includes/messages.html' %}
                            <div class="form-wrap">
                                {% if form.errors %}
                                    <div class="alert alert-danger">
                                        <strong class="mb-2">Errors</strong>
                                        <br>
                                        <ul>
                                            {% for field in form %}
                                                {% for error in field.errors %}
                                                    <li>{{ field.label_tag }} {{ error|escape }}</li>
                                                {% endfor %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                                <form action="{% url 'admin.hotel.edit' hotel.slug %}" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="name" class="control-label mb-10">Name</label>
                                                {{ form.name }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label for="feature_image" class="control-label mb-10">Feature image</label>
                                            <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                                <div class="form-control" data-trigger="fileinput">
                                                    <i class="glyphicon glyphicon-file fileinput-exists"></i>
                                                    <span class="fileinput-filename"></span>
                                                </div>
                                                <span class="input-group-addon fileupload btn btn-default btn-anim btn-file">
                                                    <i class="fa fa-upload"></i>
                                                    <span class="fileinput-new btn-text">Select file</span>
                                                    <span class="fileinput-exists btn-text">Change</span>
                                                    <input type="file" name="feature_image" accept="image/jpeg,image/png,image/jpg">
                                                </span>
                                                <a href="#"
                                                   class="input-group-addon btn btn-default btn-anim fileinput-exists"
                                                   data-dismiss="fileinput">
                                                    <i class="fa fa-trash"></i>
                                                    <span class="btn-text"> Remove</span>
                                                </a>
                                            </div>
                                            <img src="{{ hotel.feature_image.url }}" alt="{{ hotel.name }}" width="200">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">
                                            <label for="latitude" class="control-label mb-10">Latitude</label>
                                            {{ form.latitude }}
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <label for="longitude" class="control-label mb-10">Longitude</label>
                                            {{ form.longitude }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12" style="padding: 10px 15px">
                                            <div id="map"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label for="address" class="control-label mb-10">Address</label>
                                            {{ form.address }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label for="description" class="control-label mb-10">Description</label>
                                            {{ form.description }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="checkbox checkbox-primary pr-10 pull-left">
                                                    {{ form.is_active }}
                                                    <label for="checkbox_2"> Active</label>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="submit" class="btn btn-info">Save</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}


{% block scripts %}
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5FkhFVkNKuG766Wqhqw_ieEUro-b-_cQ&callback=initMap"
      defer
    ></script>
    <script>

        // Initialize and add the map
        function initMap() {
              // The location of Uluru
              const uluru = { lat: parseFloat('{{ hotel.latitude }}'), lng: parseFloat('{{ hotel.longitude }}') };
              // The map, centered at Uluru
              const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 16,
                center: uluru,
              });
              // The marker, positioned at Uluru
              const marker = new google.maps.Marker({
                position: uluru,
                map: map,
                draggable: true
              });

            google.maps.event.addListener(marker, "dragend", function(e){
                  document.getElementById('latitude').value = e.latLng.lat();
                  document.getElementById('longitude').value = e.latLng.lng();
              });
        }

        window.initMap = initMap;
    </script>
{% endblock %}