{% extends 'layouts/app.html' %}

{% block title %} Home - traveler {% endblock %}


{% block content %}
    <!-- Title -->
    <div class="row heading-bg">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h5 class="txt-dark">Home</h5>
        </div>
        <!-- Breadcrumb -->
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active"><a href="#"><span>Hotels</span></a></li>
            </ol>
        </div>
        <!-- /Breadcrumb -->
    </div>
    <!-- /Title -->
    <div class="row">
        {% for item in data %}
        <div class="col-md-4">
            <div class="panel panel-default card-view pa-0">
                <div class="panel-wrapper collapse in">
                    <div class="panel-body pa-0">
                        <article class="col-item">
                            <div class="photo">
                                <a href="#">
                                    <img src="https://source.unsplash.com/random/1920x1080/?{{ item }}"
                                         class="img-responsive" alt="">
                                </a>
                            </div>
                            <div class="info">
                                <h6>{{ item|upper }}</h6>
                                <div class="product-rating inline-block">
                                    <a href="javascript:void(0);" class="font-20 txt-orange zmdi zmdi-star mr-0"></a>
                                    <a href="javascript:void(0);" class="font-20 txt-orange zmdi zmdi-star mr-0"></a>
                                    <a href="javascript:void(0);" class="font-20 txt-orange zmdi zmdi-star mr-0"></a>
                                    <a href="javascript:void(0);" class="font-20 txt-orange zmdi zmdi-star mr-0"></a>
                                    <a href="javascript:void(0);" class="font-20 txt-orange zmdi zmdi-star-outline mr-0"></a>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}