{% extends 'layouts/app.html' %}

{% block title %} Home - traveler {% endblock %}
{% load custom_tags %}

{% block content %}
    <!-- Title -->
    <div class="row heading-bg">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h5 class="txt-dark">Home</h5>
        </div>
        <!-- Breadcrumb -->
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <ol class="breadcrumb">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active"><a href="#"><span>Hotels</span></a></li>
            </ol>
        </div>
        <!-- /Breadcrumb -->
    </div>
    <!-- /Title -->

    {% include 'includes/search_form.html' with cities=cities %}

    <div class="row">
        {% for hotel in hotels %}
        <div class="col-md-3">
            <div class="panel panel-default card-view pa-0">
                <div class="panel-wrapper collapse in">
                    <div class="panel-body pa-0">
                        <article class="col-item">
                            <div class="photo">
                                <a href="{% url 'hotel.details' hotel.slug %}">
                                    <img src="{{ hotel.feature_image.url }}"
                                         class="img-responsive" alt="{{ hotel.name|slice:':30' }}">
                                </a>
                            </div>
                            <div class="info">
                                <h6>{{ hotel.name|upper }}</h6>
                                <div class="product-rating">
                                    <div style="display: flex; justify-content: space-between; align-items: center">
                                        <div class="my-rating-fixed" data-rating="{{ hotel.total_rating|floatformat:1 }}"></div>
                                        <strong class="text-info">
                                            {% if hotel.hotelreview_set.count > 0 %}
                                                {{ hotel.total_rating|floatformat:1 }} ({{ hotel.total_rating|rating }})
                                            {% endif %}
                                        </strong>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}