{% extends 'layouts/auth.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="auth-form  ml-auto mr-auto no-float card-view pt-30 pb-30">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <div class="mb-30">
                    <h3 class="text-center txt-dark mb-10">Sign in to traveler</h3>
                    <h6 class="text-center nonecase-font txt-grey">Enter your details below</h6>
                </div>
                <div class="form-wrap">
                    <form action="{% url 'login' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="control-label mb-10" for="exampleInputEmail_2">Username</label>
                            {{ form.username }}
                        </div>
                        <div class="form-group">
                            <label class="pull-left control-label mb-10" for="exampleInputpwd_2">Password</label>
{#                            <a class="capitalize-font txt-danger block mb-10 pull-right font-12"#}
{#                               href="forgot-password.html">forgot password ?</a>#}
{#                            <div class="clearfix"></div>#}
                            {{ form.password }}
                        </div>

                        <div class="form-group">
                            <div class="checkbox checkbox-primary pr-10 pull-left">
                                <input id="checkbox_2" required="" type="checkbox">
                                <label for="checkbox_2"> Keep me logged in</label>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-danger btn-rounded">sign in</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}